<div class="container-fluid container-fluid-custom">
    <h1>About</h1>
    <p>App para organizar tu dia y asi ser más productivo, la cual esta desarrollada con programación.
        Realizada con node js </p>
    </div>